#instruction {
  display: none;
}
.suggestions{
  font-style:italic;size;
  font-size: 20pt;
  font-weight: bold;
}
s
h1 {
  font-family: sans-serif;
  font-size: 30pt;
  font-weight: bold;
  color: black;
}
h2 {
  text-align: center;
  font-family: sans-serif;
  font-size: 25pt;
  font-weight: bold;
  color: black;
}
h3 {
  font-family: sans-serif;
  font-size: 20pt;
  font-weight:normal;;
  color: black;
<
